<form>
    <img src="assets/customer.png">

    <input type="text" placeholder="Name" class="form-control" name="name" [(ngModel)]="customer.name" >
    <input type="number" placeholder="Age"class="form-control" name="age" [(ngModel)]="customer.age" >
    <input type="text" placeholder="City"class="form-control" name="city" [(ngModel)]="customer.city" >

    <input type="button" value="Register" *ngIf="btnRegister" class="btn btn-primary" (click)="register()" >
    <input type="button" value="Change" *ngIf="!btnRegister" class="btn btn-warning" (click)="edit()" >
    <input type="button" value="Remove" *ngIf="!btnRegister" class="btn btn-danger">
    <input type="button" value="Cancel" *ngIf="!btnRegister" class="btn btn-secondary">

</form>

<table class="table" *ngIf="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Selec</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of customers; index as i">
            <td>{{i+1}}</td>
            <td>{{c.name}}</td>
            <td>{{c.age}}</td>
            <td>{{c.city}}</td>
            <td><button class="btn btn-success" (click)="selecCustomer(i)" >Select</button></td>
        </tr>
    </tbody>
</table>
