<form>
    <img src="assets/customer.png">

    <input type="text" placeholder="Name" class="form-control">
    <input type="number" placeholder="Age"class="form-control">
    <input type="text" placeholder="City"class="form-control">

    <input type="button" value="Register" *ngIf="btnRegister" class="btn btn-primary">
    <input type="button" value="Change" *ngIf="!btnRegister" class="btn btn-warning">
    <input type="button" value="Remove" *ngIf="!btnRegister" class="btn btn-danger">
    <input type="button" value="Cancel" *ngIf="!btnRegister" class="btn btn-secondary">

</form>

<h1>{{customer | json}}</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Selec</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let c of customers; index as i">
            <td>{{i+1}}</td>
            <td>{{c.name}}</td>
            <td>{{c.age}}</td>
            <td>{{c.city}}</td>
            <td><button class="btn btn-success">Select</button></td>
        </tr>
    </tbody>
</table>
